<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXtfnE_WM4MXySXaL_b3JV42n-bSU_xXk</string>
	<key>GCM_SENDER_ID</key>
	<string>762194828363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.numberAuthTask.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>numberlogin-7ad7f</string>
	<key>STORAGE_BUCKET</key>
	<string>numberlogin-7ad7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762194828363:ios:7cd898d1679847048d41ce</string>
</dict>
</plist>